.flex_container{
display: flex;

}

.left{
width: 70%;
padding-right: 72px;
}

.right{
width: 30%;

}

.sale{
    background: #AB97F3;
    border-radius: 30px;
    color: #ffffff;
    position: relative;
    padding: 77px 22px 31px;
}

.sale h2{

}

.sale h3{

}

.apple{
position: absolute;
top: 60px;
left: 10%;
}

.burger2{
position: absolute;
top: -50px;
right: 0;
}

.flame1{
position: absolute;
top: 66px;
left: 38%;
}

.orange1{
position: absolute;
top: 110px;
left: 32%;
}

.sale_images{
    position: absolute !important;
    top: -100px;
    left: 0;
    right: -50px;
    bottom: 0;
}


.articles{

}

.articles ul{
list-style: none;
padding: 0;
margin: 0;
}


.articles li{
    list-style: none;
    padding: 0;
    margin: 0 0 18px;
    display: flex;
    align-items: flex-start;
    
}

.articles li>img{
 margin-right: 11px;

}

.articles h6{
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}

.articles h6>img{
 display: block;
 margin-top: 4px;
}