.page-wrapper{
display: flex;
padding: 53px 65px;

}

.page-wrapper aside{
  width: 219px;
  padding-right: 35px;

}

.page-wrapper main{
  width: calc(100% - 219px);
  background-color: white;
  border-radius: 35px;
  padding: 50px 60px;
}

h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
}

h1 img{
  margin-bottom: -20px;
}